PORT=5000
NODE_ENV=development
MONGO_URI=your_mongodb_connection_string_here
JWT_SECRET=your_jwt_secret_key_here

# Cloudinary Configuration
CLOUDINARY_CLOUD_NAME=dbqmpjx68
CLOUDINARY_API_KEY=461734263881322
CLOUDINARY_API_SECRET=awWEuUfA8fD9laE4Ca1CJE2Dyxg
# Default User Avatar URL
DEFAULT_AVATAR_URL=https://cdn-icons-png.flaticon.com/512/149/149071.png
